/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url("Roboto-Regular.ttf");
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a {
	color: black;
	text-decoration: none !important;
}

a:hover {
	text-decoration: none;
	color: black;
}

.header-right {
	float: right;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0px;
}

.cart_class {
	margin-right: 5px;
}

.rgt-bottom {
    width: 100%;
    justify-content: space-between;
    padding: 1px;
    margin-bottom: 10px;
}

.rgt-bottom a {
	border: 1px solid #555;
	margin-left: 10px;
    padding: 3px 14px;
    font-weight: 300;
}

.rgt-bottom a:hover {
	color: white;
	background: black;
}

.search {
	border: 1px solid #D8D8D8;
}

.search input {
	border: none;
	padding: 8px 10px;
}

.search input[type="submit"] {
	float: right;
	background: none;
	background: url('images/search.png') no-repeat 0px 1px;
	position: absolute;
	right: 1%;
	width: 30px;
	margin-top: 3px;
}

.navbar-collapse, a {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.navbar-inverse .navbar-nav > li > a, .navbar-header a {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	background: #333;
}

.navbar-header a {
	float: left;
	padding: 10px 15px;
	width: 100%;
	text-align: center;
}

.navbar-header {
	width: 20%;
}

.navbar-nav {
	float: none;
	display: inline;
	width: 100%;
}

.navbar-nav li{
	width: 20%;
	text-align: center;
}

nav li:hover, .navbar-header:hover, .navbar-header a:hover, .navbar-toggle:hover {
	background: #080808 !important;
}

.navbar-toggle {
	position: absolute;
	right: 2%;
	border-color: gray !important;
}

.content_view {
	padding: 2em 0;
}

.top-product {
	margin: 1.5em auto;
}

.new-product {
    position: absolute;
    top: 60%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    text-align: center;
}

.new-product p {
	color: #ededed;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.8em;
	margin: 0.5em 0;
}
.new-product h3 {
	font-size: 1.5em;
	font-weight: 500;
	color: #f9f9f9;
	margin: 0 0 0.5em;
	font-family: 'Playfair Display', serif;
}

.look-btn a {
    text-transform: capitalize;
    display: inline-block;
    padding: 6px 16px;
    font-size: 0.8725em;
    font-weight: 300;
    color: #f9f9f9;
    border: 1px solid #f9f9f9;
    background: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.look-btn a:hover{
	color: black;
  	background: #f9f9f9;
}

.registration {
	padding: 3% 1%;
}

.registration h2 {
	font-size: 1.5em;
	margin-top: 0;
}

.registration_left {
	padding: 2% 2%;
}

.registration_form {
	padding-top: 10px;
}

.registration_form input{
	padding: 10px;
	width: 100%;
	border: 1px solid #D8D8D8;
	font: initial;
}

#register-submit {
	padding: 10px;
	width: 100%;
	border: 1px solid #555;
	background: none;
}

#register-submit:hover {
	border: 1px solid #555;
	background: black;
	color: white;
}

.forget {
	margin-top: 10px;
}

.product-title {
	margin-right: 20px;
	margin-left: 20px;
	font-family: 'Playfair Display', serif;
}

.product-category {
	margin-bottom: 30px; 
	text-transform: capitalize;
	font-size: 1.5em;
	border-bottom: 1px solid #ebebeb;
}

.product_number {
	font-size: 0.8em;
	text-align: right;
	margin-left: 15px;
}

.item_add {
	width: 100%;
}

.item_price {
	width: 100%;
}

.item_add a {
	border-top: 1px solid #9d9d9d;
	width: 100%;
    padding: 8px 14px;
    display: inline-block;
}

.item_add a:hover {
	background: #333;
	color: white;
}

.content_box {
	border: 1px solid #9d9d9d;
	text-align: center;
	margin-bottom: 30px;
}

.img_details{
	min-height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.details_description {
	background: #333;
	padding: 10px 20px;
	color: white;
}

.description {
	margin: 20px;
}

.home_section {
	border-bottom: 1px solid #9d9d9d;
	padding-bottom: 30px;
}

.home_section:last-of-type {
	padding-bottom: 30px;
	border: none;
}

.home_category {
	font-family: 'Playfair Display', serif;
	text-transform: capitalize;
}

.home_category span{
	margin-left: 10px;
	font-size: 0.75em;
	text-transform: none;
}

.home_category span:hover{
	color: grey;
}

.home_title_box {
	margin-right: 10px;
	margin-left: 10px;
}

.home_product {
	text-align: center;
}

.home_add {
	border: 1px solid #9d9d9d;
	text-align: center;
}

.details_price {
	min-height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.details_add_cart h4 {
	margin-top: 20px;
}

.details_add_cart h3 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.details_add_cart {
	border: 1px solid #9d9d9d;
	text-align: center;
	min-width: 150px;
}

.footer {
	border-top: 1px solid #9d9d9d;
	padding: 3em 0;
}

.footer h4 {
	font-family: 'Playfair Display', serif;
}

.footer li{
	display: block;
}

.footer li a {
	text-decoration: none;
	color: black;
}

.footer p {
	margin: 1.5em 0 0;
}

@media screen and (max-width: 991px) {
	.top-product img {
		margin: 0 auto;
	}

	.top-product .col-xs-10 {
		float: none;
		margin: 0 auto;
	}

	.carousel {
		margin-top: 25px;
	}

	.footer h4 {
		text-align: center;
	}

	.footer li {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
 	.copyrights {
 		text-align: center;
 	}

 	.new-product p {
		font-size: 0.9em;
		font-weight: 300;
		line-height: 1.8em;
		margin: 0.5em 0;
	}

	.new-product h3 {
		font-size: 1.15em;
		font-weight: 500;
		margin: 0 0 0.5em;
	}

	.look-btn a {
	    display: inline-block;
	    padding: 6px 16px;
	    font-size: 0.75em;
	    font-weight: 300;
	}

	.navbar-header {
		width: 100%;
	}

	.navbar-header:hover {
		background: none;
	}

	.navbar-header a {
		padding: 15px;
	}
	
	.navbar-nav {
		display: block;
		justify-content: normal;
		width: 100%;
		margin: 0px;
	}

	.navbar-nav li {
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.new-product {
	    position: absolute;
	    top: 55%;
	    bottom: 20%;
	    left: 10%;
	    right: 10%;
	    text-align: center;
	}
}