<div ng-controller="HomeCtrl" class="content_view">
  <div class="row">
    <div ng-repeat="category in all_category" class="col-md-12 home_section">
      <div class="home_title_box">
        <a href="#/products/{{category}}"><h3 class="col-md-12 home_category">{{category}}<span>Show all</span></h3></a>
      </div>
      <!-- grids_of_4 -->
      <div class="col-md-12">
          <div ng-repeat="product in menList track by $index" class="col-md-3 col-xs-6">
          <div class="home_product">
            <a href="#/product/{{ product.id }}">
                 <img src="{{ product.image }}" class="img-responsive" alt=""/>
              </a>
              <h4>Duis autem</h4>           
            <div class="item_add"><span class="item_price"><h5>$99.00</h5></span></div>
            <div class="item_add"><span class="item_price"><a class="home_add" href="#/products/{{category}}">Add to cart</a></span></div>
            </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

