<div ng-controller="ProductDetailsCtrl" class="col-md-12 content_view">
	<div class="col-md-4 img_details">
		<img src="images/h1.jpeg" class="img-responsive" title="" />
	</div>
	<div class="col-md-5">
		<h4>Name of the product</h4>
		<h5>Short Description</h5>
	</div>
	<div class="col-md-3 details_price">
		<div class="details_add_cart">
			<h4>Price</h4>
			<h3>399$</h3>
			<div class="item_add"><span class="item_price"><a href="#/product/{{id}}">Add to cart</a></span></div>
		</div>
	</div>
	<div class="col-md-12">
		<h4 class="details_description">Description</h4>
		<p class="description">This is the description</p>
	</div>
</div>