	<div class="row registration">
		<div class="col-md-5 registration_left">
		<h2>Create an account</h2>
		 <div class="registration_form">
		 <!-- Form -->
			<form>
				<div class="form-group">
					<input placeholder="Username" type="text">
				</div>
				<div class="form-group">
					<input placeholder="Email" type="email">
				</div>
				<div class="form-group">
					<input placeholder="Password" type="password">
				</div>						
				<div class="form-group">
					<input placeholder="Retype password" type="password">
				</div>	
				<button type="submit" id="register-submit">Register</button>
			</form>
			<!-- /Form -->
		</div>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-5 registration_left">
		<h2>Existing user</h2>
		 <div class="registration_form">
		 <!-- Form -->
			<form>
				<div class="form-group">
					<input placeholder="Email" type="email">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password">
				</div>
				<button type="submit" id="register-submit">Sign in</button>
				<div class="forget">
					<a href="#/register">Forgot your password</a>
				</div>
			</form>
			<!-- /Form -->
			</div>
	</div>